* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: Open Sans, Times, Arial;
	font-weight: 300;
}

article {
	margin: 0 auto;
	width: 90%;
}

section {
	margin: 1em;
}

section div { 
	font-family: Open Sans, Roboto, Times, Arial;
}

h2, h3{
	font-weight: 400;
	margin-bottom: .25em;
}

.header {
	margin: 1.5em 0 0 0;
	text-align: center;
}

.header a{
	color: black;
}

.profilePic { 
	border-radius: 50%;
	height: 13em;
	width: 13em;
	margin-bottom: .5em;
}

.howIGotStarted h2 {
	display: inline-block;
	cursor: pointer;
}

.howIGotStarted a {
	color: black;
}

.howIGotStarted  .openBtn{
	position: relative;
    bottom: .15em;
    color:#5b5151;
    font-size:14px;
    cursor: pointer;
}

@media only screen and (min-width:992px) {
	article {
		width: 50%;
	}

	.profilePic { 
		height: 10em;
		width: 10em;
	}
}
