* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: Open Sans, Times, Arial;
	font-weight: 300;
}

article {
	margin: 0 auto;
	width: 600px;
}

section {
	margin: 1em;
}

section div { 
	font-family: Open Sans, Roboto, Times, Arial;
}

h2, h3{
	font-weight: 400;
	margin-bottom: .25em;
}

.picture {
	margin: 1em 0 0 0;
	text-align: center;
}

.profilePic { 
	border-radius: 50%;
	height: 10em;
	width: 10em;
}

.howIGotStarted h2 {
	display: inline-block;
}

.howIGotStarted a {
	color: black;
}

.howIGotStarted  .openBtn{
	position: relative;
    bottom: .15em
}